.DS_Store
/*.iml
/*.ipr
/*.iws
/*.log
/*.sha1
/*.zip
/.classpath
/.gitignore
/.project
/.settings
/cobertura.ser
stacktrace.log
*Db.properties
*Db.script
/plugin.xml
/*DB.*
/.idea/
/.link_to_grails_plugins/
/out/
/target/
/target-eclipse/
/web-app/plugins
/web-app/WEB-INF/classes
